{% extends './base.html' %} {%block title%}Cart | GreySense Library {%endblock%}
{% load static %} 
{%block content%}
<div class="container-fluid p-0 mb-5">
    {%if not products%}
    <section id="empty-cart-seg">
      <div id="cartModal" class="d-flex justify-content-center">
        <div class="w-100">
          <div class="p-4">
            <div class="container-fluid mb-2 cart-modal">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>
                        <span><i class="fa fa-cart-shopping"></i></span> Cart
                      </h5>
                    </div>
                    <div class="card-body cart">
                      <div class="col-sm-12 empty-cart-cls text-center">
                        <img
                          src="{% static 'images/Cart/empty-cart.png'%}"
                          width="130"
                          height="130"
                          class="img-fluid mb-4 mr-3"
                        />
                        <h3><strong>Your Cart is Empty</strong></h3>
                        <h4>Add something to make me happy :)</h4>
                        <a
                          href="/"
                          class="btn btn-outline-info cart-btn-transform m-3"
                          data-abc="true"
                          >continue shopping</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%else%}
    <section class="cart-products-seg">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-12">
            <div class="card cart-card mb-5 mt-2">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="p-5">
                      <div
                        class="d-flex justify-content-between align-items-center mb-5"
                      >
                        <h1 class="fw-bold mb-0 text-black">Your Items</h1>
                        <h6 class="mb-0 text-muted">{{count}} items</h6>
                      </div>
                      <hr class="my-4" />

                      {% for p in products %}

                      <div
                        class="row mb-4 d-flex justify-content-between align-items-center product-data"
                      >
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="{{p.book.image.url}}"
                            class="img-fluid rounded-3"
                            alt=".."
                          />
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4">
                          <h5 class="text-secondary">
                            {{p.book.title}}
                          </h5>
                          <h6 class="text-muted mb-1">
                            Author: {{p.book.author}}
                          </h6>
                          <p>Publisher: {{p.book.publisher.name}}</p>
                          {%if p.book.stock_quantity == 0 %}
                          <span class="text-danger" id="stock1{{p.id}}">Only one left.!</span>
                          {%else%}
                          {%endif%}
                          <span class="text-danger" style="display: none;" id="stock{{p.id}}">Only <span id="stock-no{{p.id}}"></span> nos. in stock.!</span>
                        </div>
                        <div
                          class="col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center"
                        >
                          <input
                            type="hidden"
                            name="book-id"
                            value="{{p.book.id}}"
                          />
                          {%csrf_token%}
                          {%if p.quantity == 1 %}
                          <button class="btn px-2 changeQuantity" id="dec-btn{{p.id}}" disabled onclick="changeQuantity('{{p.id}}','{{p.book.id}}',-1)">
                            <i class="fas fa-minus"></i>
                          </button>
                          {%else%}
                          <button class="btn px-2 changeQuantity" id="dec-btn{{p.id}}" onclick="changeQuantity('{{p.id}}','{{p.book.id}}',-1)">
                            <i class="fas fa-minus"></i>
                          </button>
                          {%endif%}

                          <!-- <input id="prodQuantity" min="0" readonly="readonly"  value="{{this.quantity}}" class="form-control form-control-sm" /> -->
                          <span
                            id="qnt{{p.id}}"
                            class="d-flex align-items-center m-2 border rounded p-2"
                            >{{p.quantity}}</span
                          >
                          {%if p.book.stock_quantity == 0 %}
                          <button
                            class="btn px-2 changeQuantity"
                            id="inc-btn{{p.id}}"
                            disabled
                            onclick="changeQuantity('{{p.id}}','{{p.book.id}}',1)"
                          >
                            <i class="fas fa-plus"></i>
                          </button>
                          {%else%}
                          <button
                            class="btn px-2 changeQuantity"
                            id="inc-btn{{p.id}}"
                            onclick="changeQuantity('{{p.id}}','{{p.book.id}}',1)"
                          >
                            <i class="fas fa-plus"></i>
                          </button>
                          {%endif%}
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0">₹ <span id="price{{p.id}}">{{p.net_amount}}</span></h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a
                            href="#"
                            onclick="removeCartItem(`{{p.book.id}}`)"
                            class="text-muted h4"
                            ><i class="fas fa-times"></i
                          ></a>
                          <!-- <a type="button" class="text-muted"
                              ><i class="fa fa-times"></i
                            ></a> -->
                        </div>
                      </div>

                      <hr class="my-4" />

                      {%endfor%}

                      <div class="pt-5 d-felx justify-content-center">
                        <h6 class="mb-0">
                          <a href="/" class="text-body"
                            ><i class="fa fa-long-arrow-alt-left mr-2"></i>Back
                            to shopping</a
                          >
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">items {{count}}</h5>
                        <h5>₹ <span id="cart-total">{{sum}}</span></h5>
                      </div>

                      <h5 class="text-uppercase mb-3">Shipping</h5>

                      <div class="mb-4 pb-2">
                        <select class="select form-select">
                          <option value="1">
                            Standard Delivery- ₹20.00
                          </option>
                          <option value="2">Fast Delivery- ₹50.00</option>
                        </select>
                      </div>

                      <h5 class="text-uppercase mb-3">Give code</h5>

                      <div class="mb-5">
                        <div class="form-outline">
                          <input
                            type="text"
                            id="form3Examplea2"
                            class="form-control form-control-lg"
                          />
                          <label class="form-label" for="form3Examplea2"
                            >Enter your code</label
                          >
                        </div>
                      </div>

                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>₹ <span id="sum-total">{{sum}}</span></h5>
                      </div>

                      <button
                        type="button"
                        onclick="window.location.href=`{% url 'checkoutPage' %}`"
                        class="btn btn-outline-dark w-100"
                        data-mdb-ripple-color="dark"
                      >
                        Proceed To Pay
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%endif%}
</div>
{%endblock%}
