{% extends './base.html' %} {%block title%}Reset Password | GreySense Library{%endblock%} 
{% load crispy_forms_filters %} {%block content%}
<style>
  body{
    background-image: url(/static/images/img7.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="container-fluid main pt-3">
  <div class="login-page-head mb-3 d-felx flex-sm-row justify-content-center" style="display: flex;">
    <h4 class="h3 text-white fw-bold text-uppercase py-2">Reset Password</h4>
  </div>
  
  <div class="login-page-form p-5 mb-5 d-felx">
    <form class="form login-form mx-auto" method="post">
      {% csrf_token %}
      <div class="from-group mb-2">
        <label for="newPassword">New Password</label>
        <input
          type="text"
          id="newPasswordForgot"
          name="new-password"
          class="form-control"
          required
        />
        <div
          class="error-seg text-danger text-sm"
          id="forgot_password_err"
        ></div>
      </div>
      <div class="from-group mb-2">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPasswordForgot"
          name="confirm-password"
          class="form-control"
          required
        />
        <div
          class="confirmErr text-danger"
          id="forgot_confirm_pass_err"
        ></div>
      </div>
      <input type="hidden" value="{{userId}}" name="user_id">
      <div class="w-100 d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-outline-primary btn-sm d-flex justify-content-center mb-4"
          id="forgot-password-submit-button"
        >
          Submit&nbsp;<span></span>
        </button>
        <button
          type="button"
          class="btn btn-outline-info btn-sm ms-2 d-flex justify-content-center mb-4"
          onclick="window.location.href='/sign-in'"
        >
          Cancel
        </button>
      </div>
      
    </form>
  </div>
</div>

<!-- Forgot Password Modal -->
<div
class="modal fade"
id="forgotPassword"
data-bs-backdrop="static"
data-bs-keyboard="false"
tabindex="-1"
aria-labelledby="forgotPasswordLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="forgotPasswordLabel">Forgot Password.!</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <form action="{% url 'verifyForgotPasswordUsername' %}" method="post" class="form">
      {%csrf_token%}
      <div class="modal-body">
        <div class="forgotpasswordusername-seg">
          <div class="from-group">
            <label for="fp_username">Enter your Username<span class="text-danger">*</span></label>
            <input
              type="text"
              id="fp_username"
              name="username"
              class="form-control"
              required
            />
            <div
              class="confirmErr text-danger"
              id="fp_username_err"
            ></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="submit"
          id="verifyForgotPasswordUsernameButton"
          class="btn btn-success btn-sm"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
</div>
{%endblock%}
