{% extends './base.html' %} {%block title%}Sign Up | GreySense Library
{%endblock%} {% load crispy_forms_filters %} {%block content%}
<div class="container-fluid pt-3">
  <style>
    body{
      background-image: url(/static/images/img7.webp);
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <div
    class="signup-page-head mb-3 d-felx flex-sm-row justify-content-center"
    style="display: flex"
  >
    <h4 class="h3 text-white fw-bold text-uppercase py-2">Sign up</h4>
  </div>
  <div class="signup-page-form px-3 py-4 mb-5 d-felx">
    <form
      class="form user-reg-form"
      action="{% url 'registerUser' %}"
      method="post"
      data-url=""
    >
      {% csrf_token %}
      <div class="form-group">
        {{form.first_name}}
        <div id="name_err"></div>
      </div>
      <div class="form-group">{{form.last_name}}</div>
      <div class="form-group">
        {{form.username}}
        <div id="username_err"></div>
      </div>
      <div class="form-group d-flex justify-content-between phone-number-input">
        {{form.phone_number}}
      </div>
      <div id="phone_err"></div>
      <div class="form-group">
        {{form.email}}
        <div id="email_err"></div>
      </div>
      <div class="w-100 d-flex justify-content-center">
        <input
          role="button"
          class="btn btn-outline-success"
          id="reg-button"
          type="submit"
          value="REGISTER"
        />
      </div>
    </form>
    <div class="row mt-2">
      <div class="col-12 d-flex justify-content-center">
        <p>Already a member? <a class="fw-bold" href="{% url 'signInPage' %}">Login</a></p>
      </div>
    </div>
  </div>
</div>
{%endblock%}
