{% extends '../admin-base.html' %} {%block title%}Returned Books | GreySense
Library {%endblock%} {%block content%}
<div class="container-fluid pt-3">
  <div class="back-btn w-100 py-2 px-2 fw-normal d-flex justify-content-start">
    <span
      ><i
        onclick="javascript:history.go(-1)"
        class="bx bx-left-arrow-alt fs-3"
      ></i
    ></span>
  </div>
  <h4 class="text-secondary fs-3 fw-bolder d-flex justify-content-center">
    Books Returned
  </h4>
  <div class="table-seg">
    <div class="table">
      <table class="table bg-dark text-white">
        <thead class="bg-secondary text-white">
          <tr>
            <th scope="col">Rental ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Book</th>
            <th scope="col">Res. Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Ret. Date</th>
            <th scope="col">Status</th>
            <th scope="col">Fine</th>
            <th scope="col">Due Status</th>
            <th scope="col">ACTON</th>
          </tr>
        </thead>
        <tbody>
          {%for item in returned%}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.user.id}}</td>
            <td>{{item.book.title}}</td>
            <td>{{item.reserve_date}}</td>
            <td>{{item.due_date}}</td>
            <td>{{item.return_date}}</td>
            <td>{{item.status}}</td>
            <td>{% if item.fine_amount is None %}Nill{%else%}Rs.{{item.fine_amount}}{%endif%}</td>
            <td>
                {%if item.is_due_cleared%}
                <span class="badge bg-success">Cleared</span>
                {%elif item.is_overdue and item.is_due_cleared == False %}
                <span class="badge bg-danger">Pending</span>
                {%else%}
                <span class="badge bg-success">No Due</span>
                {%endif%}
            </td>
            <td>
                <a href="{% url 'confirmReturn' item.id item.book.id %}">
                <button type="button" class="btn btn-outline-info w-100 btn-sm mb-1">
                  Confirm
                </button>
                </a>
                <button type="button" onclick="" class="btn btn-danger w-100 btn-sm">
                  Report Issue
                </button>
              </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{%endblock%}
