{% extends '../admin-base.html' %} {%block title%}Edit Books | GreySense
Library {%endblock%} {%block content%}
<div class="container-fluid">
  <div class="back-btn-seg pt-2">
    <div class="back-btn">
      <span
        ><i
          onclick="javascript:history.go(-1)"
          class="fa-solid fa-arrow-left fs-3 text-secondary"
          style="cursor: pointer"
        ></i
      ></span>
    </div>
  </div>
  <div class="head-label pt-2">
    <h4 class="text-secondary fs-3 fw-bolder d-flex justify-content-center">
      EDIT BOOK DETAILS
    </h4>
  </div>
  <div class="form-seg pb-5">
    <div class="form">
      <form
        action="{% url 'editBookDetails' book.id %}"
        class="form add-book-form"
        method="post"
        enctype="multipart/form-data"
      >
        {%csrf_token%}
        <div class="form-group">
            <label class="text-secondary fw-bold" for="">ISBN Number</label>
          <input
            type="number"
            class="form-control"
            placeholder="ISBN Number"
            name="book-number"
            value="{{book.isbn}}"
            required
          />
        </div>
        <div class="form-group">
            <label class="text-secondary fw-bold" for="">Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Title"
            name="title"
            value="{{book.title}}"
            required
          />
        </div>
        <label class="text-secondary fw-bold" for="">Category & Edition</label>
        <div class="form-group form-inline">
          <select
            name="category"
            id="categoryInput"
            class="form-control"
            required
          >
            <option value="">--Category--</option>
            {%if categories%}{% for i in categories%}
            {%if book.category.id == i.id %}
            <option value="{{i.id}}" selected>{{i.name}}</option>
            {%else%}
            <option value="{{i.id}}">{{i.name}}</option>
            {%endif%}
            {% endfor %}{%endif%}
          </select>
          <input
            type="number"
            class="form-control"
            placeholder="Edition"
            value="{{book.edition}}"
            name="edition"
          />
        </div>
        <label class="text-secondary fw-bold" for="">Author & Publisher</label>
        <div class="form-group form-inline">
          <input
            type="text"
            class="form-control"
            placeholder="Author"
            value="{{book.author}}"
            name="author"
            required
          />
          <select
            name="publisher"
            id="publisherInput"
            class="form-control"
            required
          >
            <option value="">--Publisher--</option>
            {%if publishers%}{% for i in publishers%}
            {%if book.publisher.id == i.id %}
            <option value="{{i.id}}" selected>{{i.name}}</option>
            {%else%}
            <option value="{{i.id}}">{{i.name}}</option>
            {%endif%}
            {% endfor %}{%endif%}
          </select>
        </div>
        <div class="form-group">
            <label class="text-secondary fw-bold" for="">Summary</label>
          <textarea
            class="form-control"
            name="summary"
            id="summaryInput"
            cols=""
            rows="3"
            placeholder="Summary"
          >{{book.summary}}</textarea>
        </div>
        <label class="text-secondary fw-bold" for="">Selling Price & List Price</label>
        <div class="form-group form-inline">
          <input
            type="number"
            class="form-control"
            placeholder="Selling Price (In INR)"
            name="selling-price"
            value="{{book.selling_price}}"
            required
          />
          <input
            type="number"
            class="form-control"
            placeholder="List Price (In INR)"
            name="original-price"
            value="{{book.list_price}}"
          />
        </div>
        <div class="form-group">
            <label class="text-secondary fw-bold" for="">Rental Price / Day</label>
          <input
            type="number"
            class="form-control"
            placeholder="Rental Price per Day"
            value="{{book.rental_price}}"
            name="rental-price"
            required
          />
        </div>
        <div class="form-group">
            <label class="text-secondary fw-bold" for="">Stock Available</label>
          <input
            type="number"
            class="form-control"
            placeholder="Prints Available"
            name="quantity"
            value="{{book.stock_quantity}}"
            required
          />
        </div>
        <div class="form-group">
            <label class="text-secondary fw-bold" for="">Year Of Publication</label>
          <input
            type="number"
            class="form-control"
            placeholder="Year Of Publication"
            name="yop"
            value="{{book.year_of_publication}}"
            required
          />
        </div>
        <div class="coverimage">
            {%if book.image%}
            <img src="{{book.image.url}}" style="width: 11%; height: 15%;" alt="">
            {%else%}
            {%endif%}
        </div>
        <div class="form-group d-flex justify-content-between align-items-center">
          <label
            for="inputImage"
            class="form-label text-secondary font-weight-bold w-25"
            >Cover Image</label
          >
          <input
            type="file"
            class="form-control w-75"
            name="image"
            accept="image/*"
          />
        </div>
        <div class="w-100 d-flex justify-content-start">
          <input
            type="submit"
            name=""
            class="btn btn-outline-success actionbuttons me-2"
            id=""
            value="UPDATE"
          />
          <input
            type="reset"
            name=""
            class="btn btn-outline-secondary actionbuttons"
            id=""
            value="CLEAR"
          />
        </div>
      </form>
    </div>
  </div>
</div>

{%endblock%}
{%block script%}
<script>
    inputImage.onchange = (evt) => {
        const [file] = inputImage.files;
        if (file) {
          cover_image.src = URL.createObjectURL(file);
        }
      };
</script>
{%endblock%}
