{% extends '../admin-base.html' %} {%block title%}Publishers | GreySense Library {%endblock%} 
{%block content%}
<section>
    <div class="container-fluid head-label pt-2">
      <div class="home-button d-felx justify-content-start px-3 py-2">
        <span><i class="bx bxs-home text-secondary h4" onclick="window.location.href = '/admin-home'"></i></span>
      </div>
        <h4 class="text-secondary fw-bolder d-flex justify-content-center">
          PUBLISHERS
        </h4>
      </div>
  <div class="container-fluid">
    <div class="add-publisher w-100 mb-2">
        <div class="button d-flex justify-content-end w-75 mx-auto">
            <button type="button" onclick="window.location.href='/add-new-publisher/'" class="btn btn-sm btn-outline-info">New Publisher</button>
        </div>
    </div>
    <div class="table-seg w-100">
      <div class="table">
        <table class="table bg-dark text-white w-75 mx-auto">
          <thead class="bg-secondary text-white">
            <tr>
              <th scope="col" class="w-25">Publisher ID</th>
              <th scope="col">Publisher Name</th>
              <th scope="col" class="w-25">Action</th>
            </tr>
          </thead>
          <tbody>
            {%for item in publishers%}
            <tr>
              <th scope="row">{{item.publisher_id}}</th>
              <td>{{item.name}}</td>
              <td>
                <a href="{% url 'editPublisherDetailsPage' item.id %}">
                <button type="button" class="btn w-100 btn-sm mb-1 btn-outline-info">
                  Edit
                </button>
                </a>
                <br>
                <button type="button" onclick="removePublisher(`{{item.id}}`)" class="btn w-100 btn-sm btn-danger">
                  Remove
                </button>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{%endblock%}
