{% extends '../admin-base.html' %}
{%block title%}Admin Panel | GreySense Library{%endblock%}
{%block content%}
<style>
    body{
    background-image: url(/static/images/img5.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>
<div class="container-fluid main">
    <div class="home-head d-flex flex-sm-row justify-content-center">
        <h4 class="fw-bold text-secondary py-3">GreySense - Administration Panel</h4>
    </div>
</div>
{%endblock%}
