{% extends '../admin-base.html' %} {%block title%}Admin Panel | GreySense Library {%endblock%}
{%block content%}
<h4>User Requests</h4>
<section>
  <div class="container-fluid">
    <div class="table-seg">
      <div class="table">
        <table class="table bg-dark text-white">
          <thead class="bg-secondary text-white">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">USERNAME</th>
              <th scope="col">CONTACT</th>
              <th scope="col">EMAIL</th>
              <th scope="col">REGISTRATION DATE</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>
          <tbody>
            {%for i in users%}
            <tr>
              <th scope="row">{{i.user.id}}</th>
              <td>{{i.user.first_name}} {{i.user.last_name}}</td>
              <td>{{i.user.username}}</td>
              <td>{{i.phone_number}}</td>
              <td>{{i.user.email}}</td>
              <td>{{i.user.date_joined}}</td>
              <td>
                <!-- <a href=""> -->
                <button type="button" onclick="approveUser(`{{i.user.id}}`)" class="btn btn-outline-info">
                  Approve
                </button>
                <!-- </a> -->
                <button type="button" onclick="rejectUser(`{{i.user.id}}`)" class="btn btn-outline-danger">
                  Reject
                </button>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{%endblock%}
